<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3">
    <h3><b><%= obj.title %></b></h3>
  </div>

  <div class="card col-6 offset-3 listing-card">
    <img src="<%= obj.image %>" class="card-img-top show-img" alt="Listing-img">
    <div class="card-body">
      <p class="card-text">
        <%= obj.description %> <br>
        <br>
        &#8377;<%= obj.price.toLocaleString("en-IN") %>
        <br>
        <%= obj.location %>
        <br>
        <%= obj.country %>
      </p>
    </div>
  </div>

  <br>

  <div class="btns">
    <a href="/listings/<%= obj._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
    <form method="POST" action="/listings/<%= obj._id %>?_method=DELETE">
      <button class="btn btn-dark offset-4">Delete</button>
    </form>
  </div>
  <div class="col-8 offset-3"> 
    <hr>
    <h4>Leave a review</h4>
    <form action="/listings/<%=obj._id%>/reviews" method="post" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" class="form-range" min = "1" max = "5" id = "rating" name = "review[rating]" >
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea name="review[comment]" id="comment" cols="30" rows="4" class="form-control" required></textarea>
        <div class="invalid-feedback">Please submit a valid review !</div>
      </div>
      <button class="btn btn-outline-dark mb-3 ">Submit</button>
      <br>
    </form>

    <hr>

    <p><h4>All Reviews</h4></p>
    <div class="row">
      <%if(obj.reviews[0]){%>
        <% for(i of obj.reviews){%>
        <div class="card col-5 ms-3 mb-3 ">
          <div class="card-body">
            <h5 class="card-title">Sanjay</h5>
            <p class="card-text"><%=i.comment%></p>
            <p class="card-text"><%=i.rating%></p>
          </div>
          <form class="mb-2" method = "post" action = "/listings/<%=obj._id%>/reviews/<%=i._id%>?_method=DELETE">
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
        <%}%>
      <%}else{%>
        <ul>
          <li class="ms-4">No Reiews yet add one</li>
        </ul>
        
      <%}%>
       
    </div>  


  </div>
</div>
